     <!-- Services Start -->

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Our Creative Services</h1>
        <div class="row">
            <div class="col-lg-3 mb-2 text-center">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Wishlist <span class="d-block text-body">Enables</span></h4>
                    <p class="m-0">Wishlist: Enables users to save favorite books for future purchases.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2 text-center">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-code text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Secure <span class="d-block text-body">Multi-Option</span></h4>
                    <p class="m-0">Secure, Multi-Option Payment: Offers various secure payment methods.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2 text-center">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-envelope-open-text text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Customer <span class="d-block text-body">Support</span></h4>
                    <p class="m-0">Customer Support: Provides instant help for user inquiries.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2 text-center">
                <div class="service-item rounded p-5 mb-4">
                    <i class="fa fa-3x fa-edit text-primary mb-4"></i>
                    <h4 class="text-uppercase mb-4">Book <span class="d-block text-body">Details</span></h4>
                    <p class="m-0">Book Details: Provides summaries, author info, and user ratings.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
   <!-- Portfolio Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Visit Our Projects</h1>
            <div class="row">
                <div class="col-12  text-center mb-2">
                    <ul class="list-inline  mb-4" id="portfolio-flters">
                        <li class="btn btn-outline-dark text-uppercase py-2 px-4 active" data-filter="*">
                            <i class="fa fa-star text-primary mr-2"></i>All
                        </li>

                    <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".first">
                            <i class="fa fa-laptop-code text-primary mr-2"></i>Design
                        </li>
                        <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".second">
                            <i class="fa fa-mobile-alt text-primary mr-2"></i>Development
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="~/digital/img/images2.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                        <a href="~/digital/img/613e1a5083d0f.jpg" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative rounded overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="~/digital/img/images02.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                        <a href="~/digital/img/613e1dd45a79d.jpg" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative rounded overflow-hidden mb-2">
                    <img class="img-fluid w-100"  src="~/digital/img/images.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                        <a href="~/digital/img/613e1da6bfd76.jpg" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="~/digital/img/images0.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                        <a href="~/digital/img/613e1c6f18cf6.jpg" data-lightbox="portfolio">
                            <i class="fa fa-4x fa-plus text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="~/digital/img/images000.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                        <a href="~/digital/img/613e1da6bfbf7.jpg" data-lightbox="portfolio">
                            <i class="fa fa-4x fa-plus text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="~/digital/img/images1.jpg" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                        <a href="~/digital/img/6144ae27bc518.jpg" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio End -->
<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Competitive Pricing</h1>
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="bg-light rounded text-center pt-5 mt-lg-5 mb-4">
                    <h2 class="text-uppercase">Educational</h2>
                    <h6 class="text-uppercase text-body mb-5">The Best Choice</h6>
                    <div class="text-center bg-dark rounded-circle p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top"
                                   style="font-size: 22px; line-height: 45px;">$</small>49<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                /
                                Mo
                            </small>
                        </h1>
                    </div>
                    <div class="text-center py-4">
                        <p>Effective Learning</p>
                        <p>Think & Learn</p>
                        <p>Growth Mindset</p>
                        <p>Learning Basics</p>
@*                         <a href="" class="btn btn-dark text-uppercase py-2 px-4 my-3">Order Now</a>
 *@                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="bg-dark rounded text-center pt-5 mb-4">
                    <h2 class="text-uppercase text-white">psychology</h2>
                    <h6 class="text-uppercase text-secondary mb-5">The Best Choice</h6>
                    <div class="text-center bg-primary rounded-circle p-4 mb-2">
                        <h1 class="display-4 mb-0">
                            <small class="align-top"
                                   style="font-size: 22px; line-height: 45px;">$</small>99<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                /
                                Mo
                            </small>
                        </h1>
                    </div>
                    <div class="text-center text-secondary py-4">
                        <p>Mind Matters</p>
                        <p>The Inner Self</p>
                        <p>Think Positive</p>
                        <p>Emotions Uncovered</p>
@*                         <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
 *@                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="bg-light rounded text-center pt-5 mt-lg-5 mb-4">
                    <h2 class=" text-uppercase">Romantic</h2>
                    <h6 class="text-uppercase text-body mb-5">The Best Choice</h6>
                    <div class="text-center bg-dark rounded-circle p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top"
                                   style="font-size: 22px; line-height: 45px;">$</small>149<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                /
                                Mo
                            </small>
                        </h1>
                    </div>
                    <div class="text-center py-4">
                        <p>Heartbeats</p>
                        <p>Secrets of Love</p>
                        <p>Passion's Pulse</p>
                        <p>Forever Yours</p>
@*                         <a href="" class="btn btn-dark text-uppercase py-2 px-4 my-3">Order Now</a>
 *@                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="display-4 text-uppercase text-center mb-5">Meet Our Team</h1>
        <div class="owl-carousel team-carousel position-relative" style="padding-left: 30px;">
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" style="height:450px" src="~/digital/img/photo_2024-11-11_08-09-44.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Salma Osama</h4>
                    <p class="m-0">Marketer</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" style="height:450px" src="~/digital/img/photo_2024-11-10_20-08-49.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Muhammad Awed</h4>
                    <p class="m-0">Designer</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" style="height:450px" src="~/digital/img/photo_2024-11-10_16-55-31.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Muhammad Abdel Wahed</h4>
                    <p class="m-0">Developer</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" style="height:450px" src="~/digital/img/photo_2024-11-11_08-09-45.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Sondos Sameh</h4>
                    <p class="m-0">Marketer</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" style="height:450px" src="~/digital/img/photo_2024-11-11_08-09-48.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Shorouk Mahmoud</h4>
                    <p class="m-0">Marketer</p>
                </div>
            </div>
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid w-100" style="height:450px" src="~/digital/img/photo_2024-11-11_08-09-47.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mx-1"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bg-light text-center p-4">
                    <h4 class="text-uppercase">Shahinaz Adel</h4>
                    <p class="m-0">Marketer</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="display-4 text-uppercase text-center mb-5">Our Client's Say</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item position-relative text-center rounded p-4">
                <img class="img-fluid rounded mx-auto my-4" src="~/digital/img/testimonial-1.jpg" alt="">
                <h5 class="text-uppercase">Michael Brown</h5>
                <p class="text-uppercase"> Financial Analyst</p>
                <p class="text-secondary">Fantastic selection and user-friendly interface. I found exactly what I was looking for with ease!</p>
            </div>
            <div class="testimonial-item position-relative text-center rounded p-4">
                <img class="img-fluid rounded mx-auto my-4" src="~/digital/img/testimonial-2.jpg" alt="">
                <h5 class="text-uppercase">David Johnson</h5>
                <p class="text-uppercase">Software Engineer</p>
                <p class="text-secondary">Fast shipping and great customer service. I love how easy it is to browse and buy books online!</p>
            </div>
            <div class="testimonial-item position-relative text-center rounded p-4">
                <img class="img-fluid rounded mx-auto my-4" src="~/digital/img/testimonial-3.jpg" alt="">
                <h5 class="text-uppercase">Emma Davis</h5>
                <p class="text-uppercase">Marketing Manager</p>
                <p class="text-secondary">A great experience! The recommendations were spot-on, and I received my order much faster than expected.</p>
            </div>
            <div class="testimonial-item position-relative text-center rounded p-4">
                <img class="img-fluid rounded mx-auto my-4" src="~/digital/img/testimonial-4.jpg" alt="">
                <h5 class="text-uppercase">John Smith</h5>
                <p class="text-uppercase">ArchiteArchitect</p>
                <p class="text-secondary">I appreciate the wide variety of genres and the detailed book descriptions. This is now my go-to site for books!</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->