<!-- Header Start -->

<div class="container-fluid bg-primary py-5 px-0">
    <div class="row mx-0 align-items-center">
        <div class="col-lg-6 px-md-5 text-center text-lg-left">
            <h1 class="display-2 text-uppercase mb-3"> best library  selling books </h1>
            <p class="text-dark mb-4">
                Discover a wide range of books at unbeatable prices! Our online bookstore offers
                easy browsing, secure payment options, and personalized recommendations to help 
                you find your next great read. Whether you're into fiction, non-fiction, or 
                educational materials, we've got something for everyone.
            </p>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-primary btn-lg-square mr-2"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square mr-2"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square mr-2"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square"><i class="fab fa-instagram"></i></a>
            </div>
@*             <a class="btn btn-dark text-uppercase mt-1 py-3 px-5">Learn More</a>
 *@        </div>
        <div class="col-lg-6 px-0 text-right">
            <img class="img-fluid mt-5 mt-lg-0" src="~/digital/img/header.png" alt="">
        </div>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center text-center">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0 w-100" style="height:600px;" src="~/digital/img/91996928e639ede87a2ec99d1b8da20d.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="display-4 text-uppercase mb-4">Best online bookstore offering </h1>
                <h5 class="text-uppercase text-primary mb-3">Explore our collection of books for every genre. Discover your next favorite read with ease and enjoy a seamless shopping experience. From fiction to non-fiction, our online</h5>
                <p class="mb-4">Discover endless books in every genre, from exciting fiction to insightful non-fiction. Enjoy seamless browsing and quick purchasing with personalized recommendations. Whether you're looking for a classic or a modern bestseller, we have it all for you.</p>
                <a class="btn btn-primary text-uppercase py-3 px-5">
                    Endless Stories
                </a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->