<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/elearning/img/613e1da6bfd76.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Library  Selling Books</h5>
                            <h1 class="display-3 text-white animated slideInDown">The Best Online Library </h1>
                            <p class="fs-5 text-white mb-4 pb-2">
                                Discover a wide range of books at unbeatable prices! Our online bookstore offers
                                easy browsing, secure payment options, and personalized
                          
                            </p>
                            <a  class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a   class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/elearning/img/6144ae27bc518.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Library  Selling Books</h5>
                            <h1 class="display-3 text-white animated slideInDown">The Best Online Library</h1>
                            <p class="fs-5 text-white mb-4 pb-2">
                                Discover the joy of reading with BulkyBook, your ultimate destination for buying books online. 
                                Whether you're a passionate reader or a knowledge seeker,
                            </p>
                            <a class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Wishlist Enables</h5>
                        <p>Wishlist Enables users to save favorite books for future purchases.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Secure Multi-Option</h5>
                        <p>Secure, Multi-Option Payment: Offers various secure payment methods.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Customer Support</h5>
                        <p>Support: Customer service provides immediate assistance user inquiries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Book Details</h5>
                        <p>Book Details: Provides summaries, author info, and user ratings.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/elearning/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">
                    Welcome to BulkyBook
                </h1>
                <p class="mb-4">Discover the joy of reading with BulkyBook, your ultimate destination for buying books online. Whether you're a passionate reader 
                    or a knowledge seeker, we offer a curated selection of books that cater to all tastes and interests.</p>
                <p class="mb-4">
                    Explore our extensive library, featuring everything from timeless classics to the latest bestsellers. At BulkyBook, we aim to make the experience of buying books seamless, enjoyable, and accessible to everyone.

                    With fast delivery, exclusive discounts, and a user-friendly interface, BulkyBook is here to transform the way you shop for books.
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Wide Range of Books</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>Seamless Online Experience
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Affordable Prices</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>Customer Support
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>Vast Collection of Books
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>User-Friendly Interface
                        </p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Header Start -->