@{
    ViewBag.PageTitle = "Admin Area";
    ViewBag.CardTitle = "Dashboard";
}
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<div class="row text-center ">
          <div class="col-lg-3 col-6 mr-5">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>@ViewBag.Category</h3>

                <p>All Category</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            <a href="/Admin/Category/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
@*           <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>@ViewBag.ShoppingCart</h3>

                <p>All ShoppingCart</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            <a href="/Admin/DashboardCon/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
 *@          <!-- ./col -->
          <div class="col-lg-3 col-6 mr-5"">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>@ViewBag.Users</h3>

                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            <a href="/Admin/Users/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
    <div class="col-lg-3 col-6 mr-5" ">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>@ViewBag.Products</h3>

                <p>Products</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            <a href="/Admin/Product/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>